################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MoneyFlow.API/MoneyFlow.API/obj
/MoneyFlow.Application/obj/Debug/net8.0
/MoneyFlow.API/MoneyFlow.API/bin/Debug/net8.0
/.idea
